@model AsyncInn.Models.ModelsDTO.DTOHotelRoom;
@*@model AsyncInn.Models.Room;*@
@{
  ViewData[ "Title" ] = "Details";
}

<h1>Details</h1>

<div>
  <h4>Room</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.RoomNumber)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.RoomNumber)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Rate)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Rate)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.PetFriendly)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.PetFriendly)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.RoomAmenities)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.RoomAmenities)
    </dd>
    <dt class="col-sm-2">
      @*@Html.DisplayNameFor(model => model.Room.RoomAmenities)*@
    </dt>
    <dd class="col-sm-10">
      @*@Html.DisplayFor(model => model.Room.Name)*@
    </dd>
    
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.RoomAmenities)
      @foreach (var i in Model.RoomAmenities)
      {
        @i.Name;
      }
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
  <a asp-action="Index">Back to List</a>
</div>
